*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

.slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, #4e4e4e,#90caf9);
	z-index: -1;
}

nav{
	position: relative;
	display: grid;
	background: #242526;
	width: 100%;
	z-index: 999;
	height: 65px;
	line-height: 65px;
	grid-template-columns: 5% 1fr 1fr 5%;
	color: white;
	
	
	
}



 .navLinks{
	display:inline-flex;
}

.navLinks li{
	list-style: none;
	
}
.navLinks li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
	
}
.navLinks li a:hover{
	background: #3a3b3c;
}

#logo {
	
	color: #f2f2f2;
	grid-column: 2/3;
	font-size: 27px;
	text-decoration: none;
	font-weight: 600;
	
}
 /* .logo01 img {
	
	color: #f2f2f2;
	grid-column: 2/3;
	text-decoration: none;
	border-radius: 5px;
	width: 100%;
}  */


.navLinks .drop-menu{
	background: #242526;
	width: 180px;
	top: 85px;
	line-height: 45px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	
	
}
.navLinks li:hover .drop-menu,
.navLinks li:hover .megaBox{
	top: 65px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}
.drop-menu li a{
	
	width: 100%;
	display: block;
	padding: 0 0 0 15px ;
	font-weight: 400;
}

.megaBox{
	
	position: absolute;
	top: 85px;
	width: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	
	
}
.megaBox .content{
	
	background: #242526;
	padding: 25px 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.content .row{
	
	width: calc(25% - 30px);
	line-height: 45px;
	
}

.content .row img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.content .row header{
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 500;
}
.content .row .megaLinks{
	margin-left: -40px;
	border-left: 1px solid rgba(255,255,255,0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
	border-left: 0px;
}
.row .megaLinks li{
	padding: 0 20px;
}

.row .megaLinks li a{
	padding: 0 20px;
	color: #d9d9d9;
	font-size: 17px;
	display: block;
}

section {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	
}
.hero{
	height: 60%;
	width: 100%;
	position: relative;
	
}
.hero video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.1;
	pointer-events: none;
}
.hero .mepe4 
{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  
}


.hero .videBx video
{
	opacity: 1;
}
.headline {
	position: absolute;
	top: 70%;
	left: 10%;
	font-size: 100px;
	transform: translate(-20%,-70%);
	color: white;
	z-index: 3;
}
.hero::after {
	content: " ";
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0.3;
	top: 0;
}



.action
{
	
	
}
.action .profile
{
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}
.action .profile img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.action .menu
{
	position:absolute;
	top: 120px;
	right: 25px;
	padding: 10px 20px;
	background: #FFFFFF;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0,0,0,0.1);
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}
.action .menu.active
{
	top: 80px;
	visibility: visible;
	opacity: 1;
}
.action .menu::before
{
    content:'';
	position: absolute;
	top: -5px;
	right: 28px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
	
}

.action .menu h3
{
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0 ;
	font-weight: 500;
	color: #555;
	line-height: 1.2em;
}
.action .menu h3 span
{
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
	
}
.action .menu ul li
{
  list-style: none;
	padding: 18px 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
}
.action .menu ul li img
{
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
}
.action .menu ul li:hover img
{
	opacity:  1;
	
}
.action .menu ul li a
{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
}
.action .menu ul li:hover a
{
	color: #ff5d94;
}







